body
{
    background-color: #f4f3ef;
    color: #a1a2a6;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

header{
    background: url("../img/background2.jpg");
}

body > div > nav
{
    font-size: 20px;
    color: #a1a2a6;
}

body > div > nav > a
{
    color: #a1a2a6;
}

.inicio
{
    background: url("../img/background.jpg") repeat;
    background-size: cover;
    z-index: 0;
}


